{% extends 'account/auth/home.html' %}

{% load staticfiles %}

{% block title %} {{ child.first_name }} {{ child.last_name }} | Child's Home {% endblock %}
{% load material_form %}

{% block extrahead %}
<link href="{% static 'account/auth/css/child_home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel" style="margin-top:20px;">
            <div class="card-content">
                <div class="card-title center" style="border-bottom:5px solid #009688;color:teal;">
                    <h5>Child Info</h5>
                </div>
                <div class="row center" style="margin-top:20px; margin-bottom: 0px;">
                    <div class="table-container">
                        <table id="child_table" class="centered">
                            <thead>
                                <tr>
                                    <th data-field="name" nowrap>Name</th>
                                    <th data-field="gender" nowrap>Gender</th>
                                    <th data-field="dob" nowrap>Date of Birth</th>
                                    <th data-field="parent_name" nowrap>Parent's Name</th>
                                    <th data-field="parent_phone" nowrap>Parent's Phone Number</th>
                                    <th data-field="parent_aadhar" nowrap>Parent's Aadhar Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td nowrap>{{ child.first_name}} {{ child.last_name }}</td>
                                    <td nowrap>{{ child_metadata.gender }}</td>
                                    <td nowrap>{{ child.dob|date:"M d, Y" }}</td>
                                    <td nowrap>{{ child_metadata.parent_name }}</td>
                                    <td nowrap>{{ child_metadata.parent_phone }}</td>
                                    <td nowrap>{{ child_metadata.parent_aadhar }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel" style="margin-top:20px;">
            <div class="card-content">
                <div class="card-title center" style="border-bottom:5px solid #009688;color:teal;">
                    <h5>Vaccination Health Card</h5>
                </div>
                <div class="row center" style="margin-top:20px; margin-bottom: 0px;">
                    <div class="table-container">
                        <table id="health_table" class="centered">
                            <thead>
                                <tr>
                                    <th data-field="name" nowrap>Vaccine Name</th>
                                    <th data-field="within" nowrap>To Be Given Within</th>
                                    <th data-field="done_status" nowrap>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vaccine in vaccines %}
                                <tr>
                                    <td nowrap>{{ vaccine.name }}</td>
                                    <td nowrap>
                                        <div style="display:flex; justify-content:space-around; align-items:center;">
                                            <div>
                                                {{ vaccine.start|date:"M d, Y" }}
                                            </div>
                                            <div style="margin-left: 5px; margin-right: 5px;">
                                                ---
                                            </div>
                                            <div>
                                                {{ vaccine.end|date:"M d, Y" }}
                                            </div>
                                        </div>
                                    </td>
                                    <td nowrap>
                                        {% if vaccine.status %}
                                        <input type="checkbox" id="id_vaccination_{{ forloop.counter }}" checked>
                                        {% else %}
                                        <input type="checkbox" id="id_vaccination_{{ forloop.counter }}">
                                        {% endif %}
                                        <label for="id_vaccination_{{ forloop.counter }}" style="cursor: default;"></label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel" style="margin-top:20px;">
            <div class="card-content">
                <div class="card-title center" style="border-bottom:5px solid #009688;color:teal;">
                    <h5>Medical Log</h5>
                </div>
                <div class="row center" style="margin-top: 20px; margin-bottom: 0px;">
                    <div class="table-container">
                        <table id="tasks_table" class="centered">
                            <thead>
                                <tr>
                                    <th data-field="name" nowrap>Name</th>
                                    <th data-field="category" nowrap>Category</th>
                                    <th data-field="reason" nowrap>Reason</th>
                                    <th data-field="notes" nowrap>Notes</th>
                                    <th data-field="date_created" nowrap>Date Created</th>
                                    <th data-field="due_date" nowrap>Due Date</th>
                                    <th data-field="given_date" nowrap>Given Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                <tr>
                                    <td nowrap>
                                        {% if request.user.id == task.created_by_id and not task.given_date %}
                                        <a href="{{ task.edit }}">{{ task.name }}</a>
                                        {% else %}
                                        {{ task.name }}
                                        {% endif %}
                                    </td>
                                    <td nowrap>{{ task.category }}</td>
                                    <td nowrap>
                                        {% if task.reason %}
                                        {{ task.reason }}
                                        {% else %}
                                        No Reason Specified
                                        {% endif %}
                                    </td>
                                    <td nowrap>
                                        {% if task.notes %}
                                        {{ task.notes }}
                                        {% else %}
                                        No Notes Specified
                                        {% endif %}
                                    </td>
                                    <td nowrap>{{ task.date_created|date:"M d, Y" }}</td>
                                    <td nowrap>{{ task.due_date|date:"M d, Y" }}</td>
                                    <td nowrap>
                                        {% if task.given_date %}
                                        {{ task.given_date|date:"M d, Y" }}
                                        {% else %}
                                        Not Given Yet
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        {% if request.user.is_doctor %}
        <div class="row center" style="margin-top:20px; margin-bottom: 0px;">
            <a href="{% url 'create-task' id=child.id %}" class="btn-large red waves-effect waves-light">Create New Task</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('main').removeClass('container');
    $(":checkbox").on("click", false);
});
</script>
{% endblock %}
  
        