{% extends 'common/base.html' %}
{% block title %} Home {% endblock %}
{% load material_form %}

{% block extrahead %}
<style>
    table{
        border: 1px solid rgb(208,208,208);
    }

    th, td{
        padding-left: 10px;
        padding-right: 10px;
    }

    td:not(:last-child),
    th:not(:last-child){
        border-right: 1px solid rgb(208,208,208);
    }

    tr:not(:last-child){
        border-bottom: 1px solid rgb(208,208,208);
    }
    .table-container{
        width: 100%;
        overflow-y: auto;
        margin: 0;
    }
    main{
        padding-right: 10px;
    }
    @media only screen and (min-width : 993px) {
        header{
            padding-left: 200px;
        }
        main{
            padding-left: 210px;
        }
    }
    @media only screen and (max-width : 992px) {
        header{
            padding-left: 0px;
        }
        main{
            padding-left: 10px;
        }
    }
</style>
{% endblock %}

{% block header-content %}
<ul id="slide-out" class="side-nav fixed" style="width: 200px;">
    <li style="background-color: #009688;" class="center">
        <a href="{% url 'home' %}" class="white-text bold">
            <b>{{ request.user.first_name }} {{ request.user.last_name }}</b>
        </a>
    </li>
    {% if request.user.is_doctor %}
    <li><a href="{% url 'signup-parent' %}"><b>Add Parent</b></a></li>
    <li><a href="{% url 'signup-child' %}"><b>Add Child</b></a></li>
    {% endif %}
    {% if request.user.is_parent %}
    {% if children %}
    <ul class="collapsible collapsible-accordion active">
        <li class="active">
            <a class="collapsible-header waves-teal active"><b>My Children</b></a>
            <div class="collapsible-body">
            <ul>
                {% for child in children %}
                <li><a href="#">{{ child.first_name }} {{ child.last_name }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </li>
    </ul>
    {% endif %}
    {% endif %}
    <li><a href="{% url 'edit-profile' %}"><b>Edit Profile</b></a></li>
</ul>
{% endblock %}

{% block content %}
<!--
<div class="row center">
    <div class="col s12 m6">
        <div class="card-panel" style="margin-top:20px; padding-top: 12px; padding-bottom: 0px; border: 1px solid white;">
            <div class="row valign-wrapper center">
                <div class="col s12"><h5>Home</h5></div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card-panel" style="margin-top:20px; padding-top: 12px; padding-bottom: 0px; border: 1px solid white;">
            <div class="row valign-wrapper center">
                <div class="col s12"><h5>Home</h5></div>
            </div>
        </div>
    </div>
</div>
-->
<div class="row">
    <div class="col s12">
        <div class="card-panel" style="margin-top:20px;">
            <div class="card-content">
                <div class="row center" style="margin-top:5px; margin-bottom: 0px;" id="search-div">
                    <input class="left col s12 m4 offset-m4" type="text" id="search" placeholder="Search Child By Parent's Phone Number" autocomplete="off">
                </div>
                
            </div>
        </div>
        <div class="card-panel" style="margin-top:20px;">
            <div class="card-content">
                <div class="row" style="margin-top:5px; margin-bottom: 0px;">
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th data-field="name">Name</th>
                                    <th data-field="gender">Gender</th>
                                    <th data-field="dob">Date of Birth</th>
                                    <th data-field="parent_name">Parent's Name</th>
                                    <th data-field="parent_phone">Parent's Phone Number</th>
                                    <th data-field="parent_aadhar">Parent's Aadhar Number</th>
                                </tr>
                            </thead>
                            <tbody id="results">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
ChildSearch = (function () {
    function updateResults(children){
        var results_table = document.getElementById('results');
        results_table.innerHTML = "";
        for(var i=0;i<children.length;i++){
            var dob = new Date(children[i].dob).toLocaleDateString('en-GB', { day : 'numeric', month : 'short', year : 'numeric' }).split(' ');
            if(dob[0].length === 1 ){
                dob[0] = '0' + dob[0];
            }
            dob = dob[1] + ' ' + dob[0] + ', ' + dob[2];
            results_table.innerHTML += `
            <tr>
                <td>${children[i].name}</td>
                <td>${children[i].gender}</td>
                <td>${dob}</td>
                <td>${children[i].parent_name}</td>
                <td>${children[i].parent_phone}</td>
                <td>${children[i].parent_aadhar}</td>
            </tr>
            `;
        }
    }
    function search(){
        var term = $(this).val().trim();
        $.ajax({
            url: "{% url 'search-child' %}",
            data: {
                'c': term
            },
            type: 'GET',
            success: function (data, status, xhr) {
                updateResults(data['children']);
            },
            error: function (jqXHR, exception) {
                Materialize.toast('Some error occurred', 1000);
            }
        });
    }
    function init(){
        $('#search').on('input', search);
    }
    return {
        init: init
    };
})();

$(document).ready(function () {
    $('main').removeClass('container');
    ChildSearch.init();
});
</script>
{% endblock %}
  
        