{% extends 'common/base.html' %}
{% block title %} Home {% endblock %}
{% load material_form %}

{% block extrahead %}
<style>
    main{
        padding-right: 10px;
    }
    @media only screen and (min-width : 993px) {
        header{
            padding-left: 200px;
        }
        main{
            padding-left: 210px;
        }
    }
    @media only screen and (max-width : 992px) {
        header{
            padding-left: 0px;
        }
        main{
            padding-left: 10px;
        }
    }
</style>
{% endblock %}

{% block header-content %}
<ul id="slide-out" class="side-nav fixed" style="width: 200px;">
    <li style="background-color: #009688;" class="center">
        <a href="{% url 'home' %}" class="white-text bold">
            <b>{{ request.user.first_name }} {{ request.user.last_name }}</b>
        </a>
    </li>
    {% if request.user.is_doctor %}
    <li><a href="{% url 'signup-parent' %}"><b>Add Parent</b></a></li>
    <li><a href="{% url 'signup-child' %}"><b>Add Child</b></a></li>
    {% endif %}
    {% if request.user.is_parent %}
    {% if children %}
    <ul class="collapsible collapsible-accordion active">
        <li class="active">
            <a class="collapsible-header waves-teal active"><b>My Children</b></a>
            <div class="collapsible-body">
            <ul>
                {% for child in children %}
                <li><a href="#">{{ child.first_name }} {{ child.last_name }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </li>
    </ul>
    {% endif %}
    {% endif %}
    <li><a href="{% url 'edit-profile' %}"><b>Edit Profile</b></a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row center">
    <div class="col s12 m6">
        <div class="card-panel" style="margin-top:20px; padding-top: 12px; padding-bottom: 0px; border: 1px solid white;">
            <div class="row valign-wrapper center">
                <div class="col s12"><h5>Home</h5></div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card-panel" style="margin-top:20px; padding-top: 12px; padding-bottom: 0px; border: 1px solid white;">
            <div class="row valign-wrapper center">
                <div class="col s12"><h5>Home</h5></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('main').removeClass('container');
});
</script>
{% endblock %}
  
        