{% load staticfiles %}
<html>
    <head>
        <title> {% block title %} {% endblock %}| Health Inspector </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'common/css/font-awesome.min.css' %}" rel="stylesheet">
        {% include 'material/includes/material_css.html' %}
        <link href="{% static 'common/css/base.css' %}" rel="stylesheet">
        {% block extrahead %}
        {% endblock %}
    </head>
    <body class="teal">
        <header>
            <nav class="top-nav white">
                <div class="nav-wrapper">
                    <a href="{% url 'home' %}" class="brand-logo teal-text center">Health Inspector</a>
                    {% if request.user.is_authenticated %}
                        <ul id="nav-mobile" class="left">
                            <li><a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only teal-text"><i class="mdi-navigation-menu"></i></a></li>
                        </ul>
                        <ul id="nav-mobile" class="right">
                            <li><a href="{% url 'logout' %}" class="teal-text">Logout</a></li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
            {% block header-content %} {% endblock %}
        </header>
        <main class="container">
            {% block content %} {% endblock %}
        </main>
        {% block other %}
        {% endblock %}
        <script src="{% static 'common/js/jquery-2.2.1.min.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        {% block scripts %} {% endblock %}
    </body>
</html>